.body{
  margin:  0;
  border: 0;
  background-color: #e6ffff;
  font-family: 'Roboto Slab', serif;
}

a:hover{
  background-color: #00ffcc;

}

.link{
  text-decoration:none;
  color: black;

}
.first-sec{
  margin: 0;
  width: 100%;
  background-color: #66ffff;
  height: 30%;
}
.div-dp{
  margin: 0;
  height: 200px;
  width: 200px;
  position: relative;
  display: inline-block;
}
.myDp{
  position: relative;
  display: inline-block;
  margin: 0;
  height: 100%;
  width: 100%;
}
.dp-text{
  position: absolute;
  display: inline-block;
  left: 250px;


}
.name{
  font-size: 1.5rem;
  margin: 10px 0 0 0;

}
.year{
  margin: 25px 0 0 0;
  font-size: 1.5rem;

}
.branch{
  margin: 10px 0 0 0;
  font-size: 1.5rem;
  text-decoration:none;
  color: black;
  left: 10%;

}
.college{
  margin: 10px 0 0 0;
  font-size: 1.5rem;

  color: black;
  left: 200px;
}


.second-sec{
  display: inline-block;
  margin: 1% 0 0 0;
  width: 100%;
  background-color: #00cccc;
  height: 10%;


}

.mail{
  display: inline-block;
  font-size: 1rem;
  margin-left:20% ;
  margin-right: 0;
  margin-top:0.5% ;
  margin-bottom:0.5%  ;

  color: black;

}
.number{
  display: inline-block;
  font-size: 1rem;
  margin-left: 10%;
  margin-right:10% ;
  margin-top: 0.5%;
  margin-bottom: 0.5% ;

  color: black;
}
.location{
  display: inline-block;
  font-size: 1rem;
  margin-left: 0;
  margin-right:0 ;
  margin-top: 0.5%;
  margin-bottom:  0.5%;

  color: black;
}


.third-sec{
  display: inline-block;
  margin: 1% 0 0 0;
  width: 100%;

  height:20%;

}

.summary{
  display: inline-block;
  margin: 1% 0 0 1%;
  width: 60%;

  height: 20%;

}

.summary-table{

  margin: 0.5% 0 0 0.5%;
  width: 60%;
  font-size: 1.5rem;

  background-color: #66ffff;
  color: black;
  margin-bottom: 30px;

}
.text-summary{

  width: 60%;
  margin: 1% 0 0 1%;
}

.spacing{
  display: inline-block;
  margin: 1% 0 0 0;
  height: 20%;

}


.technical-skills{
  display: inline-block;
  margin: 1% 0 0 1%;
  width: 30%;
  height: 20%;


}

.tech-skills-table{

  margin: 0.5% 0 0 0.5%;
  width: 100%;

  font-size: 1.5rem;
  background-color: #66ffff;
  color: black;
  margin-bottom: 30px;

}

.text-tech-skills{
  width: 100%;
  margin: 1% 0 0 1%;

}

.forth-sec{
  display: inline-block;
  margin: 1% 0 0 0;
  width: 100%;

  height: 20%;

}

.education{
  display: inline-block;
  margin: 1% 0 0 1%;
  width: 60%;
  height: 20%;

}

.education-table{

  margin: 0.5% 0 0 0.5%;
  width: 60%;
  font-size: 1.5rem;
  background-color: #66ffff;
  color: black;
  margin-bottom: 30px;
}
.text-education{

  color: black;
  width: 100%;
  margin: 1% 0 0 1%;
}


.personal-skills{
  display: inline-block;
  margin: 1% 0 0 1%;
  height: 20%;

}

.personal-skills-table{

  margin: 0.5% 0 0 0.5%;
  width: 100%;
  font-size: 1.5rem;
  background-color: #66ffff;
  color: black;
  margin-bottom: 30px;

}

.text-personal-skills{
  width: 100%;
  margin: 1% 0 0 1%;

}


.fifth-sec{
  display: inline-block;
  margin: 1% 0 0 0;
  width: 100%;

  height: 20%;

}

.projects{
  display: inline-block;
  margin: 1% 0 0 1%;
  width: 60%;

  height: 20%;

}

.projects-table{

  margin: 0.5% 0 0 0.5%;
  width: 60%;
  font-size: 1.5rem;
  background-color: #66ffff;
  color: black;
  margin-bottom: 30px;

}
.text-projects{

  color: black;

  width: 60%;
  margin: 1% 0 0 1%;
}


.certificate{
  display: inline-block;
  margin: 1% 0 0 1%;
  width: 30%;
  height: 20%;

}

.certificate-table{

  margin: 0.5% 0 0 0.5%;
  width: 100%;
  font-size: 1.5rem;
  background-color: #66ffff;
  color: black;
  margin-bottom: 30px;

}

.text-certificate{

  width: 100%;
  margin: 1% 0 0 1%;


}
.sixth-sec{
  display: inline-block;
  margin: 1% 0 0 0;
  width: 100%;
  height: 20%;

}

.intrests{
  display: inline-block;
  margin: 1% 0 0 1%;
  width: 60%;

  height: 20%;

}

.intrests-table{

  margin: 0.5% 0 0 0.5%;
  width: 60%;
  font-size: 1.5rem;
  background-color: #66ffff;
  color: black;
  margin-bottom: 30px;

}
.text-intrests{

  color: black;

  width: 60%;
  margin: 1% 0 0 1%;
}

.work{
  display: inline-block;
  margin: 1% 0 0 1%;
  width: 30%;

  height: 20%;

}

.work-table{

  margin: 0.5% 0 0 0.5%;
  width: 100%;

  font-size: 1.5rem;
  background-color: #66ffff;
  color: black;
  margin-bottom: 30px;

}

.text-work{

  width: 100%;
  margin: 1% 0 0 1%;


}
